<!DOCTYPE html>

<html lang="en">
<head>
    <title>Document</title>
</head>
    <body>
        <h1>Create a New Account</h1>
        <body>
            <form action="" method="post">
                Name:  <input type="text" name="the_Name" />
                <br />
                Username:  <input type="text" name="user" />
                <br />
                Password:  <input type="text" name="pass" />
                <br />
                <input type="submit" value="Create Account" />
            </form>
        </body>
    </body>
</html>