<!DOCTYPE html>

<html lang="en">
<head>
    <title>Document</title>
    <script type="text/javascript" src="{{url_for('static', filename='js/data_collection.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scheduler.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/scheduler.js')}}"></script>

    <!--dropdown search-->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.autocompleteDropdown.js')}}"></script>
    <link rel= "stylesheet" href="{{ url_for('static', filename='css/autocompleteDropdown.scss') }}" rel="stylesheet">
    
    
</head>

<body>
    <div>
        <h1>Customize your profile</h1>
    </div>
    
    <ul style="text-align: center" id="username">Hello {{username}} !</ul>
    <!--Gemini-->
    <!--<form action="/upload-profile-picture" method="post" enctype="multipart/form-data">
        <label for="profile_pic">Upload a profile picture:</label>
        <input type="file" id="profile_pic" name="profile_pic" accept=".jpg, .jpeg, .png">
        <button type="submit">Upload</button>
    </form>
    
    End Gemini-->
    <!--Gemini-->
    

    <!--<ul id="location">Blank</ul>-->
    <div style="background-color: #ffffff">
        <table id="example"></table>
    </div>
    
    <div id="result"></div>
    <div>
        <label for="Skills">Skills:</label>
        <!--<input type="text" id="skills_bar" name="skills_bar" placeholder="Add your skills here!">-->
         <!--<form action="" method="get">-->
        <input list="skills" id="skills_bar" name="skills_bar" placeholder="Add your skills here!" autocomplete="off">
        <datalist id="skills" class="skills_dropdown">
            <option value="Internet Explorer">
            <option value="Firefox">
             <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist>
        <button type="button" id="add_skill_button">Add</button>
        <div id="mySkillList"></div>
        
        <!--<button id="skills_submit" onclick="getSelectedDatalistValue()">Get Value</button>

        <script>
            function getSelectedDatalistValue() {
            const inputValue = document.getElementById('skills_bar').value;
            console.log("Selected/Entered Value:", inputValue);
            alert("Selected/Entered Value: " + inputValue);
        }-->

    <!--</form>-->
        
        <label for="Needed Skills">Needed Skills:</label>
       
        <input list="needed_skills" id="needed_skills_bar" name="needed_skills_bar" placeholder="Add your skills here!" autocomplete="off">
        <datalist id="needed_skills" class="needed_skills_dropdown">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist>
        <button type="button" id="add_needed_skill_button">Add</button>
        <div id="myNeededSkillList"></div>
        <button id="submit_profile_data" data-value="myButtonValue">Save Profile</button>
        <button type="submit" name="action" id="get_the_matches" value="myMatchButtonValue">Get Matches</button>
       
    </div>
    
    
</body>