body{
    font-family: 'Open Sans', sans-serif;
    background-color: #7DF9FF
}

h1{
    text-align: center;
    font-size: 50px;
}

div{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    
}

form{
    margin: auto;
    width: 50%
}

input[type="text"]{
    font-family: 'Open Sans', sans-serif;
    /*display:block;*/
    margin: 10px;
    width: auto;
}

input[type="submit"]{
    font-family: 'Open Sans', sans-serif;
    /*display:block;*/
    font-size: 20px;
    margin: 10px;
    width: auto;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align:center;
    display:block;
}
button{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    width: auto;
}
